.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    
}

.home-imgs{
    width: 100%; 
    height: 100%; 
}